<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{ evento.title }}</h4>
</div>

<div class="modal-body">
   <div class="container-fluid">
        <table class="table" border ="0">
            <tr>
                <td >Centro de acopio: {{centro}}</td> 
            </tr>
            <tr>
                <td >Comentario de la visita hecho por el operador:</td>
            </tr>    
            <tr>
                <td  colspan="2">
                    <div>
                        <table class="table" width="100%">
                            <tr>
                                <td width="29%"><b>Estado</b></td>
                                <td width="1%" ><b>:</b></td> 
                                <td width="70%">  
                                        {{estado | estadoVisita}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>Comentario:</b></td>     
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <textarea  title="Ingrese comentario de la visita" ng-model="comentario" class="form-control" name="comentario"></textarea>
                                </td>     
                            </tr>
                        </table>

                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger"  type="button" ng-click="close()">Cerrar</button>
</div>