{% extends 'base.html.twig' %}
{% block title %}Proyecto{% endblock %}
{% block stylesheets %}{{ parent() }}
    <div class="row animated fadeInDown"><br>
        <h1>SuperAdmin</h1>
    </div>
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
