<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{ evento.title }}</h4>
</div>

<div class="modal-body">
   <div class="container-fluid">
        <table class="table" border ="0">
            <tr>
                <td width="15%" class="titulo_negrita" >Centro de acopio: </td>
                <td width="85%" class="texto">{{evento.ruta_operador.usuario.empresa.centro_de_acopio.nombre_centro}}</td> 
            </tr>
            <tr>
                <td colspan="2" class="titulo_negrita">Clientes:</td>
            </tr>    
            <tr>
                <td  colspan="2">
                    <div ng-repeat="x in evento.ruta_detalle">
                        <table width="100%">
                            <tr>
                                <td width="10%" class="titulo_negrita">Nombre: </td> 
                                <td width="20%" class="texto">{{ x.ruta_cliente.cliente_nombre }}</td> 
                                <td width="10%" class="titulo_negrita">Estado:</td>
                                <td width="20%" class="texto">
                                    <select ng-model="estado" ng-options="estado as estado.nombre for estado in estados track by estado.id">
                                        <option value="">--</option>
                                    </select>             
                                </td>        
                                <td width="10%" class="titulo_negrita">Comentario:</td>
                                <td width="30%" class="texto">
                                    <textarea  ng-model="x.comentario" cols="40"></textarea>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success" ng-click="guardarObs(x.id)" >Guardar</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <ui-gmap-google-map class="col-12"
                    center="map.center"
                    zoom="map.zoom"
                    options="map.options"
                    dragging="map.dragging"
                    control="map.control"
                    ng-cloak
                    >
                        <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                            geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'>
                        </ui-gmap-polyline>

                        <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'" click="onClick">
                            <ui-gmap-windows show="show">
                                <div ng-non-bindable>{{ruta_cliente.cliente_direccion +' '+ ruta_cliente.cliente_numero}}</div>
                            </ui-gmap-windows>
                        </ui-gmap-markers>

                    </ui-gmap-google-map>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger"  type="button" ng-click="close()">Cancelar</button>
</div>