<div class="row">  
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
        <button type="submit" class="btn btn-success arriba" ng-click="nuevoCliente()" >
            <span class="glyphicon glyphicon-plus"></span> Agregar cliente
        </button>
        <br>
    
        <div class="filtros col-lg-4">
            <input type="text" ng-model="busqueda" class="form-control" placeholder="Búsqueda: Ingrese lo que desea buscar">
        </div>

        <div class="scroll">
            <table class="table">
                <tr>
                    <th width="5%"  class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">#</a></th>
                    <th width="16%" class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">Nombre</a></th>
                    <th width="15%" class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">Dirección</a></th>
                    <th width="10%" class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">Comuna</a></th>
                    <th width="7%"  class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">Celular</a></th>
                    <th width="7%"  class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">Teléfono</a></th>
                    <th width="10%" class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">Correo</a></th>
                    <th width="10%" class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">Demanda</a></th>
                    <th width="10%" class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">Frecuencia</a></th>   
                    <th width="10%" class="pointer"><a ng-click="columna='codigo'; reverse = !reverse;">Theta</a></th>   
                    <th width="10%">Acciones</th>
                </tr>

                <tr ng-repeat="x in clientes | filter:busqueda | orderBy:columna:reverse | limitTo:posicion | limitTo:-10">
                    <td class="data">{{ x.cliente_id }}</td> 
                    <td ng-pointer class="data">{{ x.cliente_nombre}}</td>
                    <td ng-pointer class="data">{{ x.cliente_direccion }}</td>
                    <td ng-pointer class="data">{{ x.comuna.comuna_nombre }}</td>
                    <td ng-pointer class="data">{{ x.cliente_celular }}</td>
                    <td ng-pointer class="data">{{ x.cliente_telefono }}</td>
                    <td ng-pointer class="data">{{ x.cliente_correo }}</td>
                    <td ng-pointer class="data">{{ x.cliente_demanda }}</td>
                    <td ng-pointer class="data">{{ x.cliente_frecuencia.frecuencia_nombre }}</td>
                    <td ng-pointer class="data">{{ x.cliente_theta }}</td>

                    <td align='center'>
                        <i class="fa fa-edit fa-2x pointer"  ng-click="editarCliente(x.cliente_id)" title="Editar datos del cliente"></i>
                        <i class="fa fa-trash fa-2x pointer" ng-click="eliminarCliente(x.cliente_id)" title="Eliminar cliente"></i>
                    </td>
                </tr>
            </table>

            <button class="btn btn-primary" ng-click="anteriores()"><i class="fa fa-chevron-left"></i> Anterior</button>
            <button class="btn btn-primary" ng-click="siguientes()">Siguiente <i class="fa fa-chevron-right"></i></button>
        </div>
    </div>
</div>