<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
        </div>
<!--       <div class="col-lg-4 col-md-4 col-sm-12  col-xs-12">
            <div ng-show="SelectedEvent" class="alert alert-success" style="margin-top: 50px">
                <h3>Información de la ruta</h3>
                <h4 style="color:#A9A50E"> 
                {{ SelectedEvent.title }}
                <br><br>
                Camión:  {{ SelectedEvent.ruta_camion }}
                    <br><br>
                Operador:{{ SelectedEvent.ruta_operador }}
                    <br><br>
                Rut:{{ SelectedEvent.ope_rut }}
                    <br><br>
                N° Licencia:{{ SelectedEvent.ope_licencia }} 
                </h4>
            </div>
        </div>-->
</div>