<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{ evento.title }}</h4>
</div>

<div class="modal-body">
   <div class="container-fluid">
        <table class="table" border ="0">
            <tr>
                <th colspan="2" class="titulo_negrita" width="50%">Datos del operador</th>
                <th colspan="2" class="titulo_negrita" width="50%">Datos del camión</th>
            </tr>
            <tr>
                <td class="titulo_negrita"  width="20%">Nombre:</td>
                <td class="texto" width="30%">{{evento.ruta_operador.nombre_operador}} {{evento.ruta_operador.apellido_operador}}</td>
                <td class="titulo_negrita"  width="20%">Patente:</td>
                <td class="texto" width="30%">{{evento.ruta_camion.patente_camion}}</td>
            </tr>
            <tr>
                <td class="titulo_negrita" width="20%">N° de licencia</td>
                <td class="texto" width="30%">{{evento.ruta_operador.licencia_operador}}</td>
                <td class="titulo_negrita" width="20%">Capacidad:</td>
                <td class="texto" width="30%">{{evento.ruta_camion.capacidad_camion}}</td>
            </tr>

            <tr>
                <td class="titulo_negrita" >Centro de acopio</td>
                <td class="texto">{{evento.ruta_operador.usuario.empresa.centro_de_acopio.nombre_centro}}</td>
                <td colspan="4" rowspan="2">

                    <ui-gmap-google-map class="col-md-6"
                        center="map.center"
                        zoom="map.zoom"
                        options="map.options"
                        dragging="map.dragging"
                        control="map.control"
                        ng-cloak
                    >
                        <ui-gmap-marker coords="map.marker2" idkey="map.marker2.id" >
                            <ui-gmap-window isIconVisibleOnClick="true">
                                <p ng-cloak>Marker , MAP 1 Clicked on me2!</p>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </td>
            </tr>

            <tr>
                <td class="titulo_negrita">Clientes:</td>
                <td >
                    <ul>
                        <div ng-repeat="x in evento.ruta_detalle">
                            <li class="texto">
                                {{ x.ruta_cliente.cliente_nombre }}
                            </li>
                        </div>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger"  type="button" ng-click="close()">Cancelar</button>
</div>