<style>
.img-loading{
    display: block;
    max-width: 7%;
    height: auto;
    display: inline-block;
    padding: 6px 12px;
}
</style>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button type="submit" class="btn btn-info arriba" ng-click="crearProceso()" >
            Crear proceso
        </button>
        <button type="submit" class="btn btn-warning arriba" ng-click="ejecutarProceso()" >
            Ejecutar proceso
        </button>

        <div class="alert alert-{{ class }}" style="text-align: center;font-weight: bold; margin-top:10px" ng-if="mensaje !==''">
            {{ mensaje }}
        </div>

        <div class="scroll">
            <table class="table">
                <tr>
                    <th width="5%">#</th>
                    <th width="13%">Fecha creación</th>
                    <th width="13%">Fecha de termino</th>
                    <th width="15%">Total de clientes</th>
                    <th width="12%">Estado del proceso</th>
                    <th width="12%" style="text-align: center">Validado</th>
                    <th width="30%">Observación del proceso</th>
                </tr>
                <tr ng-repeat="x in procesos">
                    <td>{{ x.id_proceso }}</td>
                    <td>{{ x.fecha_proceso | date:'dd/MM/yyyy  HH:mm:ss' }}</td>
                    <td>{{ x.termino_proceso | date:'dd/MM/yyyy  HH:mm:ss' }}</td>
                    <td>{{ x.cant_clientes_proceso}}</td>
                    <td>{{x.estado_proceso | estadoproceso}}</td>
                    <td style="text-align: center !important; cursor:pointer">
                        <div ng-if="x.estado_proceso === 0">
                            <img ng-if="x.validado_proceso === false" ng-src="{{valida[0]}}" style="height: 35px;"  ng-click="validacion(x.id_proceso,1)" title="Validar proceso">    
                            <img ng-if="x.validado_proceso === true && x.estado_proceso === 0" ng-src="{{valida[1]}}" style="height: 35px;" ng-click="validacion(x.id_proceso,0)"  title="Invalidar proceso">
                        </div>
                        <div ng-if="x.estado_proceso === 1">
                            <img ng-src="{{valida[2]}}" style="height: 35px;">
                        </div>

                        <div ng-if="x.estado_proceso > 1">
                            <img ng-src="{{valida[3]}}" style="height: 35px;">
                        </div>
                    </td>
                    <td>{{x.observacion_proceso}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>      